@media screen and (min-width: 768px) {
    .chamada__texto{
        max-width: 600px;
    }
    .cartao {
        max-width: 400px;
    }
    .institucional__contato___email{
        display: inline-block;
    }
    .institucional__video {
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
    .cabecalho {
        border: none;
        flex-direction: row;
        justify-content: space-between;
    }
    .chamada {
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
    }
    .chamada__titulo {
        font-size: 3.25rem;
        margin-bottom: 2rem;
    }
    .diferenciais {
        background-color: var(--cinza-claro);
    }
    .diferenciais__lista {
        justify-content: space-around;
    }
    .sobre{
        display: flex;
    }
    .sobre__conteudo {
        margin-right: 3rem;
    }
    .sobre_titulo {
        text-align: left;
    }
    .sobre__texto--divisao {
        border-bottom: 1px solid var(--cinza-medio);
        padding-bottom: 1.5rem;
    }
    .sobre__imagem {
        display: block;
    }
    .planos__cartoes {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cartao {
        max-width: 300px;
    }
    .intitucional__conteudo {
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }

    .institucional__video {
        align-self: flex-end;
        width: 375px;
    }

    .institucional__contato___email {
        display: block;
    }
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rodape__navegacao {
        text-align: left;
        min-width: 600px;
    }
}